---
import Tag from "../../components/Tag.astro";
import Layout from "../../layouts/Layout.astro";
import { graphql } from "../../utils/graphql";

const [genresResponse, err] = await graphql<{
  genres: {
    slug: string;
  }[]
}>(`
  query {
    genres {
      slug
    }
  }
`);

if (err !== null) {
  console.warn(err);
}

---

<Layout title="Gamebox - Genres">
  <main>
    <h1>Genres</h1>
    {genresResponse?.genres.map(genre => <Tag slug={genre.slug}/>)}
  </main>
</Layout>
